@import "@firecms/ui/dist/index.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --fcms-primary: #0070F4;
  --fcms-primary-dark: #0061e6;
  --fcms-primary-bg: #0061e610;
  --fcms-secondary: #FF5B79;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root{
  height: 100%;
  width: 100%;
}

a {
  @apply text-blue-600 dark:text-blue-400 dark:hover:text-blue-600 hover:text-blue-800 font-bold
}

/*a[href="https://neat.firecms.co"] {*/
/*  display: none !important;*/
/*}*/
